body{
    background-image: linear-gradient(rgb(232, 149, 232), rgb(93, 162, 93));
    display: flex;
    gap:3%;
}
form{
    border:5px ;
    width:fit-content;
    margin-left: 33%;
    padding: 3%;
    height: fit-content;
    margin-top: 3%;
    font-size: 20px;
    color:purple;
    margin-right: 20px;
    padding: 80px;
    border-radius: 50px;
    border-width: 5px;
    border-color: purple;
    border-style: ridge;
    background-color: whitesmoke;

    
}
.button {
    padding-left: 50%;
    width: 200px;
    font-size: x-large;
    margin-left: 5%;
    border-radius: 36px;
    text-decoration: none;
    
}

input{
    font-size: larger;
    padding-left: 15%;
    text-align: justify;
    color: purple;
}

.login{
    border-radius: 24px;
    width: 120px;
    height: 35px;
    color: purple;
}

#dont{
    font-size: small;
    margin-right: -100px;
}


@media only screen and(min-width:280px) and (max-width:440px){
    body{
        background-image: linear-gradient(rgb(232, 149, 232), rgb(93, 162, 93));
        display: flex;
        gap:3%;
    }
    form{
        border:5px ;
        width:fit-content;
        margin-left: 33%;
        padding: 3%;
        height: fit-content;
        margin-top: 3%;
        font-size: 20px;
        color:purple;
        margin-right: 20px;
        padding: 80px;
        border-radius: 50px;
        border-width: 5px;
        border-color: purple;
        border-style: ridge;
        background-color: whitesmoke;
    
        
    }
    .button {
        padding-left: 50%;
        width: 200px;
        font-size: x-large;
        margin-left: 5%;
        border-radius: 36px;
        text-decoration: none;
        
    }
    
    input{
        font-size: larger;
        padding-left: 15%;
        text-align: justify;
        color: purple;
    }
    
    .login{
        border-radius: 24px;
        width: 120px;
        height: 35px;
        color: purple;
    }
    
    #dont{
        font-size: small;
        margin-right: -100px;
    }
    

}


@media only screen and(min-width:441px) and (max-width:900px){
    body{
        background-image: linear-gradient(rgb(232, 149, 232), rgb(93, 162, 93));
        display: flex;
        gap:3%;
    }
    form{
        border:5px ;
        width:fit-content;
        margin-left: 33%;
        padding: 3%;
        height: fit-content;
        margin-top: 3%;
        font-size: 20px;
        color:purple;
        margin-right: 20px;
        padding: 80px;
        border-radius: 50px;
        border-width: 5px;
        border-color: purple;
        border-style: ridge;
        background-color: whitesmoke;
    
        
    }
    .button {
        padding-left: 50%;
        width: 200px;
        font-size: x-large;
        margin-left: 5%;
        border-radius: 36px;
        text-decoration: none;
        
    }
    
    input{
        font-size: larger;
        padding-left: 15%;
        text-align: justify;
        color: purple;
    }
    
    .login{
        border-radius: 24px;
        width: 120px;
        height: 35px;
        color: purple;
    }
    
    #dont{
        font-size: small;
        margin-right: -100px;
    }
    

}

@media only screen and(min-width:901px) and (max-width:1024px){
    body{
        background-image: linear-gradient(rgb(232, 149, 232), rgb(93, 162, 93));
        display: flex;
        gap:3%;
    }
    form{
        border:5px ;
        width:fit-content;
        margin-left: 33%;
        padding: 3%;
        height: fit-content;
        margin-top: 3%;
        font-size: 20px;
        color:purple;
        margin-right: 20px;
        padding: 80px;
        border-radius: 50px;
        border-width: 5px;
        border-color: purple;
        border-style: ridge;
        background-color: whitesmoke;
    
        
    }
    .button {
        padding-left: 50%;
        width: 200px;
        font-size: x-large;
        margin-left: 5%;
        border-radius: 36px;
        text-decoration: none;
        
    }
    
    input{
        font-size: larger;
        padding-left: 15%;
        text-align: justify;
        color: purple;
    }
    
    .login{
        border-radius: 24px;
        width: 120px;
        height: 35px;
        color: purple;
    }
    
    #dont{
        font-size: small;
        margin-right: -100px;
    }
    

}