body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(214, 184, 214),rgb(189, 189, 172),rgb(134, 134, 219), rgb(220, 235, 220));
}
.container {
    margin: 25%;
    width: 50%;
    margin-top: 5%;
    background-color: aliceblue;
    border: 0.25px solid;
    border-radius:3%;
    height: 500px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 34px;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    width:50px ;
    border-radius: 50px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 90px;
    padding-left: 467px;
    font-size: x-large;
}
.nav-links li {
    margin-right: 1rem;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
}
/* Hamburger menu styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
h1 {
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
li:not(:last-child) {
    margin-bottom: 10px;
}
label {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    background-color: rgb(145, 135, 235);
    color: white;
    font-size: 16px;
}
button:hover {
    background-color: skyblue;
}
#navbar ul{
    display: flex;
    justify-content: space-around;
    gap: 90px;
    }
    #navbar li {
        display: inline-block;
     margin-top: 10px;
              }
header{
    display: flex;
}
#nav-bar a{
    text-decoration: none;
    color:black;
    font-size: larger;
}